body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle{
    text-align: center;
}

.chicken{
    width: 800px;
    height: auto;
}